.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.search-result {
  border: #222 1px solid;
  margin: 50px;
}

.search-result button {
  margin: 20px;
}

.search-result img {
  max-height: 200px;
  margin: 20px;
}

.saved-channels-list {
  
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
}

.saved-channels-list li {
  padding: 10px;
  border: 1px solid grey;
  margin: 10px;
}

.current-channel {
  border: 2px solid red !important
}

.saved-channels-list img{
  max-width: 200px;
}

nav {
  min-height: 50px;
}

nav a {
  margin: 20px;
  ;
}

nav .active {
  color: red;
}

.video-player {
  width: 1000px;
margin: 0 auto;
}