:root {

  --channel-transition:  all 0.5s ease-in-out 0s;
  --playlist-transition:  all 0.3s ease-in 0s;
  --logo-green: #6ed830;
  --logo-red:#ed0707;
  --logo-blue:#0808f4;
  --logo-orange:#f46c0f;
  --light-grey: rgb(66, 65, 65);
  --kid-font: 'Permanent Marker', cursive;
}

.App {
  text-align: center;
  
  /* overflow: hidden; */
}



header {
  display: flex;
  justify-content: space-between;
  min-height: 15vh;
  
}

#logo {
  margin: 20px;
}

nav {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  order: 3;
  
}

nav a {
  margin: 20px;
  
}

nav .active {
  color: red;
}

nav a[href="/manage-channels"] {
  color:white;
  background: var(--logo-orange);
  padding:20px;
  text-transform: uppercase;
  border: 1px solid var(--logo-orange);
  border-radius: 20px;
  transition: var(--playlist-transition)
}

nav a[href="/manage-channels"]:hover {
  transform: scale(1.2)
}


.channels-header {
  display: flex;
  justify-content: space-around;
  
}

.channels-header h2{
  max-height: 58px;
  color: white;
  background: var(--logo-orange);
  font-size: 2em;
  padding: 5px 10px;
  font-family: 'Permanent Marker', cursive;
  border: 1px solid var(--logo-orange);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transform: rotate(346deg);
  transform-origin: bottom;
}

.empty-channels {
  /* border: 3px solid var(--logo-green); */
  width: 40vw;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background: var(--logo-orange) */
  /* background-image: url('/assets/1.svg'),url('/assets/arrow.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
  background-size: 50px, 120px; */
}

.empty-channels p {
  font-size: 2.8em;
  color: var(--logo-red);
  padding: 0;
  text-align: center;
  font-family: 'permanent marker'
  
}




main {
  display: flex;
  justify-content: space-between;
  /* height: 80vh; */
}

.search-result {
  border: #222 1px solid;
  margin: 50px;
}

.search-result button {
  margin: 20px;
}

.search-result img {
  max-height: 200px;
  margin: 20px;
}

.search-results-scroll {
  overflow: auto;
  overflow-x: hidden;
  height: 85vh;
}

.search-results-scroll span{
  background:var(--logo-green);
  padding: 5px 10px;
  text-decoration: underline;
  display: inline;
  margin: 5px;
  cursor: pointer;
  
}

ul.on-channel-hover:hover {
  height: 32vh;
  width: 45vw;
  
}

ul.on-channel-hover:hover>* {
  height: 30vh;
  width: 12vw;
  font-size: 2em;
  background: white;
}

ul.on-channel-hover:hover li h1{
  opacity: 1;
  color: rgb(66, 65, 65);
  font-size: .5em;
}


.saved-channels-list {
  width: 30vw;
  height: 13vh;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  transition: var(--channel-transition);
}






.saved-channels-list li {
  padding: 10px;
  border: 1px solid grey;
  height: 10vh;
  width: 5vw;
  cursor: pointer;
  transition: var(--channel-transition);
}

.saved-channels-list img{
  width: 100%;
  transition: var(--channel-transition);
}

ul.saved-channels-list li h1 {
  display: inline;
  opacity: 0;
  font-size: 0.2em;
  text-transform: uppercase;
  transition: all 1s ease-in-out 0s;
}

.edit-list {
  flex-direction: column;
 height: auto; 
  /* height: 70vh;
  margin-top: 30vh; */
}


.edit-list li {
  width: 7vw;
  height: auto;
  cursor: auto;
  margin-bottom: 20px;
}

ul.edit-list li h1 {
  display: block;
  font-size: 1em;
  opacity: 1;
}

.edit-list li button {
  background: white;
  border: 1px solid rgb(199, 198, 198);
  color: var(--logo-red);
  font-size: 1.2em;
  font-family: var(--kid-font);
  transition: all .2s ease-out;
  box-shadow: var(--light-grey) 2px 2px 4px;
  margin: 0 auto;
}

.edit-list li button:hover {
  box-shadow: none;
}

.current-channel {
  border: 2px solid var(--logo-red) !important
}

.scroll {
  height: 73vh;
  overflow: auto;
  overflow-x: hidden;
  width:187px;
}

.playlists {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: start;
  align-content: center;
  margin: 0;
  width: 12vw;
  padding: 0;
  border-bottom: var(--logo-blue) solid 10px;
}



.playlist {
  width: 90%;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  background: #e9e9e9;
  transition: var(--playlist-transition)
}

.playlist:hover{
  box-shadow: var(--logo-blue) 2px 2px 6px; 
}

h2.playlists-section-header {
  background: var(--logo-blue);
  color: white;
  padding: 6px 0;
  margin-top: 0;
  margin-left: 10px;
  border: var(--logo-blue) solid 1px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  transform: rotate(4deg);
}





.playlist img {
  width: 100%;
  
}

.playlist h2 {
  padding: 0 4px;
  font-size: 0.8em;
  color: rgb(66, 65, 65)
  
}

.playlist p {
  color: white;
  background: rgba(110, 216, 48, 0.7);
  margin: 0;
  position: relative;
  top:-2%;
  width: 100%;
  font-size: 1.5em;
  padding-top: 4px;
  
}

.empty-playlists {
  width: 12vw;
}
.empty-playlists p {
  font-size: 1.8em;
  color: var(--light-grey);
  line-height: 1.5em;
  padding: 0 10px;
}



.current-playlist {
  border: 2px solid var(--logo-red) !important
}

.playlist-videos {
  display: flex;
  flex-direction: column;
  margin: 0;
 margin-right: 10px;
 padding: 0;
 width: 12vw;
 border-bottom: var(--logo-red) solid 10px;
}

h2.videos-section-header {
  background: var(--logo-red);
  color: white;
  padding: 6px 0;
  margin-top: 0;
  margin-right: 10px;
  border: var(--logo-red) solid 1px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  transform: rotate(-3deg);
}

.playlist-videos li{
  list-style: none;
  width: 90%;
  transition: var(--playlist-transition);
  margin-bottom: 10px;
  margin-left: 10px;
  background: #e9e9e9;
}

.playlist-videos li:hover{
  box-shadow: var(--logo-red) 2px 2px 6px;  
}

.current-video {
  border: 2px solid var(--logo-red)
}

.playlist-videos li img {
  width: 100%;
}

.playlist-videos li h2 {
  color: rgb(66, 65, 65);
  font-size: 0.8em;
  padding: 0 4px;
}


.empty-videos p {
  font-size: 1.8em;
  color: var(--light-grey);
  line-height: 1.5em;
  padding: 0 10px;
}

.video-player {
  width: 100%; 
  /* max-height: 80vh; */
  max-width: 73vw;
}

.manage-channels header {
  width: 100%;
  /* position: sticky; */
  background: white;
  /* display: flex; */
  /* justify-content: space-evenly; */
}


.channel-search {
  margin: 0 auto;
  margin-top: 30px;
  
}

.channel-search a {
  display: inline-block;
  padding: 20px;
}

.channel-search input {
  height: 2em;
  width: 20vw;
  font-size: 1.5em;
  padding-left: 10px;
  color: var(--light-grey)
}

.channel-search label {
  padding: 0 15px;
  font-size: 1.5em;
}


.channel-search button {
  background: var(--logo-orange);
  color: white;
  font-size: 1.5em;
  padding: 8px;
  margin: 5px 10px;
  text-transform: uppercase;
  font-family: var(--kid-font);
  border: 1px solid var(--logo-orange);
  border-radius: 4px;
  box-shadow: var(--light-grey) 2px 2px 4px;
  transition: all .2s ease-out;
}

.channel-search button:hover {
  box-shadow: none;
}

.search-result button {
  background: white;
  border: 1px solid rgb(199, 198, 198);
  color: var(--logo-green);
  font-size: 1.2em;
  font-family: var(--kid-font);
  transition: all .2s ease-out;
  box-shadow: var(--light-grey) 2px 2px 4px;
}

.search-result button:hover {
  box-shadow: none;
  
}

.search-result button[name ='Remove Channel'] {
    color:var(--logo-red)
}


.backdrop {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 200;
  position: fixed;
  left: 0;
  top:0;
}


.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 50%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  left: 15%;
  top: 12%;
  box-sizing: border-box;
  transition: all .5s ease-out;
  display: block;
  z-index: 500;
}

.hide-modal {
  transform: translateY(-1000vh);
  /* display: none; */
}

@media (min-width: 600px) {
  .modal {
      width: 600px;
      left: calc(50% - 250px);
  }
}

/* .ytp-expand-pause-overlay .ytp-pause-overlay
  {
    display: none !important;
  } */